body {
    background-image: url("../img/first-screen-1.png");
    background-size: 100% 100vh;;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: padding-box;
}

.width {
    padding: 0 15%;
}

.menu {
    max-width: min-content;
    display: flex;
    margin-left: auto;
    margin-top: 80px;
    list-style-type: none;
}

.menu li a {
    margin-left: 60px;
    font-family: Oswald;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.94px;
    text-decoration: none;
    color: #FFF;
}

.title {
    display: flex;
    align-items: center;
    font-family: Oswald;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 4.608px;
    color:#FFF;
}